{% extends 'senlin/base.html' %}
{% load render_bundle from webpack_loader %}

{% block body %}
     <!--<h1>welcome to homepage</h1>-->

     <script type="text/javascript">

          var user_name = '{{ user.username}}'
          var numOfWords = '{{ numOfWords }}'
          console.log('======',numOfWords)

          window.onload=function()
            {
//                saveStatusLocally()
//               console.log(readStatus())
                whatIsYourCurrentStatus()
            }
          // save the string
          function saveStatusLocally() {
            window.localStorage.setItem("status", 'Random notes');
          }
          // read the string
          function readStatus() {
             return window.localStorage.getItem("status");
          }

          function whatIsYourCurrentStatus() {
            if (navigator.onLine) {
              console.log('Online!')
            } else {
              console.log('Offline!')
            }
          }


     </script>

     <div id="Senlin" ></div>
     {% csrf_token %}
     {% render_bundle 'vendors' %}
     {% render_bundle 'Senlin' %}


{% endblock %}